 <extend name="Public:Public" />
 <block name="title">修改货物信息</block>
 <block name="body">
    <!-- page heading start-->
    <script src="__PUBLIC__/Admin/include/js/jquery-1.10.2.min.js"></script>
        <div class="page-heading">
            <h3>
                智能仓储管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="__APP__/Admin/index/index">管理首页</a>
                </li>
                <li class="active"> 修改货物信息 </li>
            </ul>
            
        </div>
        <!-- page heading end-->
        <!--body wrapper start-->
      
    <div class="panel-body">
        <form role="form" class="form-horizontal adminex-form" method="post" action="__URL__/editGoods">
            <div class="form-group has-success">
                <label class="col-lg-2 control-label" style="float:left">货 物 名</label>
                <div class="col-lg-6 ">
                    <input placeholder="" name="gname" id="l-name" class="form-control" type="text" value="{$info['gname']}">
                </div>
            </div>
            <div class="form-group has-info">
                 <label class="col-lg-2 control-label" style="float:left">库  存</label>
                <div class="col-lg-6">
                    <input placeholder="" name="gsum" id="" class="form-control" type="number" value="{$info['gsum']}">
                </div>
            </div>
            <div class="form-group has-info">
                 <label class="col-lg-2 control-label" style="float:left">供应价格</label>
                <div class="col-lg-6">
                    <input placeholder="" name="in_price" id="" class="form-control" type="text" value="{$info['in_price']}">
                </div>
            </div>
            <div class="form-group has-info">
                 <label class="col-lg-2 control-label" style="float:left">货物规格</label>
                <div class="col-lg-6">
                    <input placeholder="" name="zarea" id="" class="form-control" type="text" value="{$info['zarea']}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="hidden" name="gid" value="{$info['gid']}">
                    <button class="btn btn-success" type="submit">修改</button>
                    <button class="btn btn-warning" type="reset">取消</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
             $(document).on('change',".ware",function(){
                var wid = $(this).val();
                 $.ajax({
                    url:'__MODULE__/equip/ajaxWare',
                    data:{wid:wid},
                    async:false,
                    type:'post',
                    dataType:'json',
                    success:
                    function(data){
                        $('.zone').children().remove();
                        $(".zone").append('<option value="">请选择仓库分区</option>');
                        for(var i=0;i<data.length;i++){
                            var info = '<option id="zone'+i+'" value="'+data[i].zid+'" style="width:348px;">'+data[i].zname+'</option>';
                            $(".zone").append(info);
                        }
                    },
                    error:
                    function(){
                        alert('响应失败');
                    }
                    })
             })
       </script>
       
        <!--body wrapper end-->
</block>
