 <extend name="Public:Public" />
 <block name="title">货物列表</block>
 <block name="body">
 <script src="__PUBLIC__/Admin/include/js/jquery-1.10.2.min.js"></script>
 <!-- page heading start-->
        <div class="page-heading">
            <h3>
                智能仓储管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="__APP__/Admin/index/index">管理首页</a>
                </li>
                <li class="active"> 货物列表 </li>
            </ul>
            
        </div>
        <!-- page heading end-->
        <!--body wrapper start-->
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    货物列表
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <!-- <a href="javascript:;" class="fa fa-times"></a> -->
                 </span>
                </header>
                <div class="panel-body">
                    <div class="dataTables_filter" id="editable-sample_filter">
                        <form action="__MODULE__/goods">
                            <label style="float:right"> 
                                <input class="form-control medium" aria-controls="editable-sample" type="text" placeholder="货物名" name="gname" value="{$Think.get.gname}" style="float:left;width:150px">
                                <input class="form-control medium" aria-controls="editable-sample" type="text" placeholder="货物编码" name="code" value="{$Think.get.code}" style="float:left;width:150px">
       
                                <button class="btn btn-success" type="submit" style="float:right">搜索</button>
                            </label>
                        </form>
                    </div>
                    <table class="table table-hover general-table">
                        
                        <thead>
                        <tr>
                            <th>供应商</th>
                            <th>货物名</th>
                            <th>货物编码</th>
                            <th>供应价</th>
                            <th>库存</th>
                            <th>所在区</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                     <foreach name="list" item="row">
                        <tr>
                            <td>{$row['spname']}</td>
                            <td>{$row['gname']}</td>
                            <td>{$row[code]}</td>
                            <td>{$row[in_price]}</td>
                            <td>{$row[gsum]}</td>
                            <td>{$row['zname']}</td>
                            <td>
                                 <a href="__URL__/editGoods?gid={$row['gid']}"><button class="btn btn-default orderby" type="button" title="修改"> <i class="fa fa-pencil"></i></button></a>
                                 <button class="del btn btn-default" type="button" title="下架" value="{$row['gid']}"> <i class="fa fa-trash-o"></i> </button>
                                
                            </td>
                        </tr>
                    </foreach>

                        </tbody>
                        
                    </table>
                    <div class="pages pull-right">{$page}<div/>
                </div>
            </section>
        </div>
       
        <!--body wrapper end-->
         <script type="text/javascript">
            $(document).on('click','.del',function(){
                var id=$(this).val();
                // alert(spid);
                var res = confirm('您确定下架该货物？');
                if(res){
                     $.ajax({
                        url:'__URL__/del',
                        data:{id:id},
                        type:'post',
                        async:false,
                        dataType:'Json',
                        success:
                            function($data){
                                if($data == 1){
                                    alert('下架成功');
                                    location.reload();
                                }else{
                                    alert('下架失败');
                                }
                        }   
                    })
                }
               
            })
            
        </script>
</block>
