 <extend name="Public:Public" />
 <block name="title">新订单</block>
 <block name="body">
 	<!-- page heading start-->
        <div class="page-heading">
            <h3>
                智能仓储管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="__APP__/Admin/index/index">管理首页</a>
                </li>
                <li class="active"> 新订单 </li>
            </ul>
            
        </div>
        <!-- page heading end-->
        <!--body wrapper start-->
      
    <div class="panel-body">
        <form role="form" class="form-horizontal adminex-form" method="post" action="__URL__/addOrder">
            <div class="form-group has-info">
                 <label class="col-lg-2 control-label" style="float:left">供 应 商</label>
                <div class="col-lg-3">
                    <select class="form-control m-bot15" name="sid">
                        <option value="0">请选择客户</option>
                        <foreach name="list" item="row">
                            <option value="{$row['sid']}">{$row['sname']}</option>
                        </foreach>
                        
                    </select>
                    <a href="">添加新客户</a>
                </div>
            </div>
            <div class="form-group has-info">
                 <label class="col-lg-2 control-label" style="float:left">联 系 人</label>
                <div class="col-lg-6">
                    <input placeholder="" name="contact" id="email2" class="form-control" type="text">
                    <p class="help-block">请输入联系人</p>
                </div>
            </div>
            <div class="form-group has-error">
                <label class="col-lg-2 control-label" style="float:left">手 机 号</label>
                <div class="col-lg-6 ">
                    <input placeholder="" name="order_phone" id="l-name" class="form-control" type="text">
                    <p class="help-block">请输入联系方式</p>
                </div>
            </div>
            <div class="form-group has-info">
                 <label class="col-lg-2 control-label" style="float:left">地 址</label>
                <div class="col-lg-6">
                    <input placeholder="" name="order_address" id="email2" class="form-control" type="text">
                    <p class="help-block">请输入收货地址</p>
                </div>
            </div>
            <div class="form-group has-info">
                 <label class="col-lg-2 control-label" style="float:left">选择类型</label>
                <div class="col-lg-6">
                    <select class="form-control m-bot15" name="status">
                        <option value="">请选择订单类型</option>
                        <option value="0">正常</option>
                        <option value="1">赠品</option>
                    </select>
                    <p class="help-block">请选择订单类型</p>

                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-success" type="submit">确定</button>
                    <button class="btn btn-warning" type="reset">取消</button>
                </div>
            </div>
        </form>
    </div>
       
        <!--body wrapper end-->
</block>
