 <extend name="Public:Public" />
 <block name="title">订单列表</block>
 <block name="body">
 <script src="__PUBLIC__/Admin/include/js/jquery-1.10.2.min.js"></script>
 <script language="javascript" type="text/javascript" src="__PUBLIC__/Admin/include/js/My97DatePicker/WdatePicker.js"></script>
 <!-- page heading start-->
        <div class="page-heading">
            <h3>
                智能仓储管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="__APP__/Admin/index/index">管理首页</a>
                </li>
                <li class="active"> 订单列表 </li>
            </ul>
            
        </div>
        <!-- page heading end-->
        <!--body wrapper start-->
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    订单列表
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <!-- <a href="javascript:;" class="fa fa-times"></a> -->
                 </span>
                </header>
                <div class="panel-body">
                    <div class="dataTables_filter" id="editable-sample_filter">
                        <form action="__MODULE__/order">
                            <label style="float:right"> 
                                <input class="form-control medium" aria-controls="editable-sample" type="text" placeholder="联系人" name="contact" value="{$Think.get.contact}" style="float:left;width:150px">
                                <input class="form-control medium" aria-controls="editable-sample" type="text" placeholder="客户名" name="sname" value="{$Think.get.sname}" style="float:left;width:150px">
                                <input class="Wdate" type="text" name="start_time" placeholder="请选择起始日期" onClick="WdatePicker()" id="start" style="width:120px;height:35px;" value="{$Think.get.start_time}" readonly>--
								<input class="Wdate" type="text" name="end_time" placeholder="请选择结束日期" onClick="WdatePicker()" id="end_time" style="width:120px;height:35px;" value="{$Think.get.end_time}" readonly>
       
                                <button class="btn btn-success" type="submit" style="float:right">搜索</button>
                            </label>
                        </form>
                    </div>
                    <table class="table table-hover general-table">
                        
                        <thead>
                        <tr>
                            <th>客户名</th>
                            <th>订单号</th>
                            <th>联系人</th>
                            <th>联系电话</th>
                            <th>联系地址</th>
                            <th>总价</th>
                            <th>下单时间</th>
                            <th>订单类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                     <foreach name="list" item="row">
                        <tr>
                            <td>{$row['sname']}</td>
                            <td>{$row['order_sn']}</td>
                            <td>{$row['contact']}</td>
                            <td>{$row['order_phone']}</td>
                            <td>{$row['order_address']}</td>
                            <td>{$row['all_price']}</td>
                            <td>{$row['out_time']|date='Y-m-d H:i:s',###}</td>
                            <td>{$status[$row['status']]}</td>
                            <td>
                                 <a href="__URL__/orderGoodsInfo?order_id={$row['order_id']}"><button class="btn btn-default orderby" type="button" title="订单详情"> <i class="fa fa-info"></i></button></a>
                                
                            </td>
                        </tr>
                    </foreach>

                        </tbody>
                        
                    </table>
                    <div class="pages pull-right">{$page}<div/>
                </div>
            </section>
        </div>
       
        <!--body wrapper end-->
         <script type="text/javascript">
            $(document).on('click','.del',function(){
                var id=$(this).val();
                // alert(spid);
                var res = confirm('您确定下架该货物？');
                if(res){
                     $.ajax({
                        url:'__URL__/del',
                        data:{id:id},
                        type:'post',
                        async:false,
                        dataType:'Json',
                        success:
                            function($data){
                                if($data == 1){
                                    alert('下架成功');
                                    location.reload();
                                }else{
                                    alert('下架失败');
                                }
                        }   
                    })
                }
               
            })
            
        </script>
</block>
