 <extend name="Public:Public" />
 <block name="title">新订单</block>
 <block name="body">
 <script src="__PUBLIC__/Admin/include/js/jquery-1.10.2.min.js"></script>
 <!-- page heading start-->
        <div class="page-heading">
            <h3>
                智能仓储管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="__APP__/Admin/index/index">管理首页</a>
                </li>
                <li class="active"> 新订单 </li>
            </ul>
            
        </div>
        <!-- page heading end-->
        <!--body wrapper start-->
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    新订单
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <!-- <a href="javascript:;" class="fa fa-times"></a> -->
                 </span>
                </header>
                <div class="panel-body">
                    <div class="dataTables_filter" id="editable-sample_filter">
                        <form action="__MODULE__/goods">
                            <label style="float:right"> 
                                <input class="form-control medium" aria-controls="editable-sample" type="text" placeholder="货物名" name="gname" value="{$Think.get.gname}" style="float:left;width:150px">
                                <input class="form-control medium" aria-controls="editable-sample" type="text" placeholder="货物编码" name="code" value="{$Think.get.code}" style="float:left;width:150px">
       
                                <button class="btn btn-success" type="submit" style="float:right">搜索</button>
                            </label>
                        </form>
                    </div>
                <!-- <form action="__URL__/orderGoods" method="post"> -->
                    <table class="table table-hover general-table">
                        
                        <thead>
                        <tr>
                            <!-- <th></th> -->
                            <th>供应商</th>
                            <th>货物名</th>
                            <th>货物编码</th>
                            <th>供应价</th>
                            <th>库存</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                     <foreach name="list" item="row">
                        <tr>
                        <!--     <td><input type="checkbox" name="gids[]" value="{$row['gid']}"></td> -->
                            <td>{$row['spname']}</td>
                            <td>{$row['gname']}</td>
                            <td>{$row[code]}</td>
                            <td>{$row[in_price]}</td>
                            <td>{$row['gsum']}</td>
                            <td>
                                 <a href="__URL__/orderGoods?gid={$row['gid']}"><button class="btn btn-default orderby" type="button" title="订购"> <i class="fa fa-credit-card"></i></button></a>
                                
                            </td>
                        </tr>
                    </foreach>

                        </tbody>
                        
                    </table>
                    <!-- div class="btn-group">
                           <span class="btn btn-default  checkall">全选</span>           
                           <span class="btn btn-default  checkfalse">反选</span>
                           <input class="btn btn-danger"  type="submit" value="订购"/>
                    </div>  -->
                <!-- </form> -->
                    <div class="pages pull-right">{$page}<div/>
                </div>
            </section>
        </div>
       
        <!--body wrapper end-->
         <script type="text/javascript">
            // $(".checkall").click(function(){    
            //    $("input[name='gids[]']").prop('checked',true);
            // })
            // //反选
            // $(".checkfalse").click(function(){
            //      $("input[name='gids[]']").each(function(i,e){         
            //         $(e).prop('checked',!$(e).prop('checked'));  
            //      })
            // })    
            
            
        </script>
</block>
