<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title><block name="title"></block></title>

  <!--icheck-->
  <link href="__PUBLIC__/Admin/include/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/include/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/include/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/include/js/iCheck/skins/square/blue.css" rel="stylesheet">


  <!--dashboard calendar-->
  <link href="__PUBLIC__/Admin/include/css/clndr.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/include/css/page.css" rel="stylesheet">

  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="__PUBLIC__/Admin/include/js/morris-chart/morris.css">

  <!--common-->
  <link href="__PUBLIC__/Admin/include/css/style.css" rel="stylesheet">
  <link href="__PUBLIC__/Admin/include/css/style-responsive.css" rel="stylesheet">




  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="__PUBLIC__/Admin/include/js/html5shiv.js"></script>
  <script src="__PUBLIC__/Admin/include/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="__APP__/Admin/index/index"><img src="__PUBLIC__/Admin/include/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="__PUBLIC__/Admin/include/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="__PUBLIC__/Admin/include/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="__APP__/Admin/index/index"><i class="fa fa-home"></i> <span>仓储管理总览</span></a></li>
                <li class="menu-list {$open_supply}"><a href=""><i class="fa fa-laptop"></i> <span>供应商管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="__MODULE__/Supply/addSupply"> 新增供应商</a></li>
                        <li><a href="__MODULE__/Supply/index "> 供应商列表</a></li>

                    </ul>
                </li>
                <li class="menu-list {$open_customer}"><a href=""><i class="fa fa-cogs"></i> <span>客户管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="__MODULE__/Customer/addCustomer"> 新增客户</a></li>
                        <li><a href="__MODULE__/Customer/index"> 客户列表</a></li>

                    </ul>
                </li>
                <li class="menu-list {$open_cate}"><a href=""><i class="fa fa-book"></i> <span>货物分类管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="__MODULE__/Cate/addCate"> 新增分类</a></li>
                        <li><a href="__MODULE__/Cate/index"> 分类列表</a></li>
                        
                    </ul>
                </li>
                <li class="menu-list {$open_goods}"><a href=""><i class="fa fa-bullhorn"></i> <span>货物管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="__MODULE__/Goods/supplyGoods"> 商户供货</a></li>
                        <li><a href="__MODULE__/Goods/index"> 货物列表</a></li>
                    </ul>
                </li>
                <li class="menu-list {$open_ware}"><a href=""><i class="fa fa-bar-chart-o"></i> <span>仓库管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="__MODULE__/Ware/addWare"> 新增仓库</a></li>
                        <li><a href="__MODULE__/Ware/index"> 仓库列表</a></li>
                        <li><a href="__MODULE__/Ware/test"> 模拟环境</a></li>
                    </ul>
                </li>
                <li class="menu-list {$open_inware}"><a href=""><i class="fa fa-tasks"></i> <span>入库管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="__MODULE__/Inware/addGoods"> 货物入库</a></li>
                        <li><a href="__MODULE__/Inware/index"> 入库记录</a></li>
                    </ul>
                </li>
                <li class="menu-list {$open_order}"><a href=""><i class="fa fa-envelope"></i> <span>订单管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="__MODULE__/Order/newOrder"> 新订单</a></li>
                        <li><a href="__MODULE__/Order/index"> 订单列表</a></li>
                    </ul>
                </li>

                
                
                <li class="menu-list {$open_admin}"><a href="#"><i class="fa fa-th-list"></i> <span>管理员</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="__MODULE__/Admin/addAdmin"> 新增管理员</a></li>
                        <li><a href="__MODULE__/Admin/index"> 管理员列表</a></li>
                    </ul>
                </li>
                <li class="menu-list {$open_equip}"><a href="#"><i class="fa fa-table"></i> <span>设备管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="__MODULE__/Equip/addEquip"> 添加设备</a></li>
                        <li><a href="__MODULE__/Equip/index">设备列表</a></li>
                        <li><a href="__MODULE__/Equip/logIndex">设备启动记录</a></li>
                    </ul>
                </li>
                <li><a href="__MODULE__/admin/loginLog"><i class="fa fa-file-text"></i> <span>登陆日志</span></a></li>
                <!-- <li class="menu-list"><a href="#"><i class="fa fa-map-marker"></i> <span>Maps</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="google_map.html"> Google Map</a></li>
                        <li><a href="vector_map.html"> Vector Map</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-file-text"></i> <span>Extra Pages</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="profile.html"> Profile</a></li>
                        <li><a href="invoice.html"> Invoice</a></li>
                        <li><a href="pricing_table.html"> Pricing Table</a></li>
                        <li><a href="timeline.html"> Timeline</a></li>
                        <li><a href="blog_list.html"> Blog List</a></li>
                        <li><a href="blog_details.html"> Blog Details</a></li>
                        <li><a href="directory.html"> Directory </a></li>
                        <li><a href="chat.html"> Chat </a></li>
                        <li><a href="404.html"> 404 Error</a></li>
                        <li><a href="500.html"> 500 Error</a></li>
                        <li><a href="registration.html"> Registration Page</a></li>
                        <li><a href="lock_screen.html"> Lockscreen </a></li>
                    </ul>
                </li> -->
                <li><a href="__MODULE__/login/outLogin"><i class="fa fa-sign-in"></i> <span>退出登录</span></a></li>

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--search start-->
            <form class="searchform" action="index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
            </form>
            <!--search end-->

            <!--notification menu start -->
            
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        

        <!--body wrapper start-->
        <!-- 模板继承 -->
        <block name="body"></block>
        <!--body wrapper end-->

        <!--footer section start-->
        <!-- <footer>
            2017 &copy; AdminEx by <a href="http://www.mycodes.net/" target="_blank">源码之家</a>
        </footer> -->
        <!--footer section end-->


    </div>
    
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<!-- <script src="__PUBLIC__/Admin/include/js/jquery-1.10.2.min.js"></script> -->
<script src="__PUBLIC__/Admin/include/js/jquery.min.1.8.2.js"></script>
<script src="__PUBLIC__/Admin/include/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__PUBLIC__/Admin/include/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/Admin/include/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/include/js/modernizr.min.js"></script>
<script src="__PUBLIC__/Admin/include/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="__PUBLIC__/Admin/include/js/easypiechart/jquery.easypiechart.js"></script>
<script src="__PUBLIC__/Admin/include/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="__PUBLIC__/Admin/include/js/sparkline/jquery.sparkline.js"></script>
<script src="__PUBLIC__/Admin/include/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="__PUBLIC__/Admin/include/js/iCheck/jquery.icheck.js"></script>
<script src="__PUBLIC__/Admin/include/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="__PUBLIC__/Admin/include/js/flot-chart/jquery.flot.js"></script>
<script src="__PUBLIC__/Admin/include/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="__PUBLIC__/Admin/include/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="__PUBLIC__/Admin/include/js/morris-chart/morris.js"></script>
<script src="__PUBLIC__/Admin/include/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="__PUBLIC__/Admin/include/js/calendar/clndr.js"></script>
<script src="__PUBLIC__/Admin/include/js/calendar/evnt.calendar.init.js"></script>
<script src="__PUBLIC__/Admin/include/js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<!--common scripts for all pages-->
<script src="__PUBLIC__/Admin/include/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="__PUBLIC__/Admin/include/js/dashboard-chart-init.js"></script>


</body>
</html>
