 <extend name="Public:Public" />
 <block name="title">新增仓库分区</block>
 <block name="body">
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                智能仓储管理
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="__APP__/Admin/index/index">管理首页</a>
                </li>
                <li class="active"> 新增分区 </li>
            </ul>
            
        </div>
        <!-- page heading end-->
        <!--body wrapper start-->
      
    <div class="panel-body">
        <form role="form" class="form-horizontal adminex-form" method="post" action="__URL__/addZone">
            <div class="form-group has-success">
                <label class="col-lg-2 control-label" style="float:left">仓 库 名</label>
                <div class="col-lg-6 ">
                    <input placeholder="" name="wname" id="l-name" class="form-control" type="text" value="{$info['wname']}" readonly>
                </div>
            </div>
            <div class="form-group has-info">
                <label class="col-lg-2 control-label" style="float:left">分 区 名</label>
                <div class="col-lg-6 ">
                    <input  name="zname" id="l-name" class="form-control" type="text" placeholder="请输入仓库分区名称">
                </div>
            </div>
            <div class="form-group has-error">
                <label class="col-lg-2 control-label" style="float:left">标准温度</label>
                <div class="col-md-6">
                    <div class="input-group input-large custom-date-range">
                        <input class="form-control dpd1" name="temp" type="number" placeholder="请输入仓库标准温度(°C)">
                        <span class="input-group-addon"><i class="fa fa-dot-circle-o"></i>  </span>
                        <input class="form-control dpd2" name="temp_range" type="number" placeholder="请输入误差范围">
                    </div>
                </div>
            </div>
            <div class="form-group has-warning">
                <label class="col-lg-2 control-label" style="float:left">标准湿度</label>
                <div class="col-md-6">
                    <div class="input-group input-large custom-date-range">
                        <input class="form-control dpd1" name="humidness" type="number" placeholder="请输入仓库标准湿度(hPa)">
                        <span class="input-group-addon"><i class="fa fa-dot-circle-o"></i></span>
                        <input class="form-control dpd2" name="humidness_range" type="number" placeholder="请输入误差范围">
                    </div>
                </div>
            </div>
            <div class="form-group has-success">
                <label class="col-lg-2 control-label" style="float:left">标准烟雾浓度</label>
                <div class="col-md-6">
                    <div class="input-group input-large custom-date-range">
                        <input class="form-control dpd1" name="smog" type="number" placeholder="请输入仓库标准烟雾浓度(mg/L)">
                        <span class="input-group-addon"><i class="fa fa-dot-circle-o"></i></span>
                        <input class="form-control dpd2" name="smog_range" type="number" placeholder="请输入误差范围">
                    </div>
                </div>
            </div>
            <div class="form-group has-error">
                <label class="col-lg-2 control-label" style="float:left">标准光照强度</label>
                <div class="col-md-6">
                    <div class="input-group input-large custom-date-range">
                        <input class="form-control dpd1" name="sun" type="number" placeholder="请输入仓库标准光照强度(Lux)">
                        <span class="input-group-addon"><i class="fa fa-dot-circle-o"></i></span>
                        <input class="form-control dpd2" name="sun_range" type="number" placeholder="请输入误差范围">
                    </div>
                </div>
            </div>
            <div class="form-group has-default">
                <label class="col-lg-2 control-label" style="float:left">总面积</label>
                <div class="col-lg-6 ">
                    <input  name="all_zarea" id="l-name" class="form-control" type="number" placeholder="请输入仓库分区总占地面积(m^2)">
                    <!-- <p class="help-block">请输入仓库分区总占地面积(单位m^2)</p> -->
                </div>
            </div>
            

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <input type="hidden" name="wid" value="{$info['wid']}">
                    <button class="btn btn-success" type="submit">新增</button>
                    <button class="btn btn-warning" type="reset">取消</button>
                </div>
            </div>
        </form>
    </div>
       
        <!--body wrapper end-->
</block>
