 <extend name="Public:Public" />
 <block name="title">管理员列表</block>
 <block name="body">
        <script src="__PUBLIC__/Admin/include/js/jquery-1.10.2.min.js"></script>
 <!-- page heading start-->
        <div class="page-heading">
            <h3>
                智能仓储管理 
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="__APP__/Admin/index/index">管理首页</a>
                </li>
                <li class="active"> 管理员列表 </li>
            </ul>
            
        </div>
        <!-- page heading end-->
        <!--body wrapper start-->
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    管理员列表
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <!-- <a href="javascript:;" class="fa fa-times"></a> -->
                 </span>
                </header>
                <div class="panel-body">
                    <div class="dataTables_filter" id="editable-sample_filter">
                        <form action="__MODULE__/Admin">
                            <label style="float:right"> 
                                <input class="form-control medium" aria-controls="editable-sample" type="text" placeholder="管理员名" name="admin_name" value="{$Think.get.admin_name}" style="float:left;width:150px">
                                <input class="form-control medium" aria-controls="editable-sample" type="text" placeholder="手机号" name="admin_phone" value="{$Think.get.admin_phone}" style="float:left;width:150px">
                                <button class="btn btn-success" type="submit" style="float:right">搜索</button>
                            </label>
                        </form>
                    </div>
                    <table class="table table-hover general-table">
                        
                        <thead>
                        <tr>
                            <th>管理名</th>
                            <th>手机号</th>
                            <th>管理类型</th>
                            <th>登录名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                 <foreach name="list" item="row">
                        <tr>
                            <td>{$row['admin_name']}</td>
                            <td>{$row['admin_phone']}</td>
                            <td>{$row['upos']}</td>
                            <td>{$row['pass_name']}</td>
                            <td>
                                 <a href="__URL__/editAdmin?admin_id={$row['admin_id']}"><button class="btn btn-default orderby" type="button" title="修改"> <i class="fa fa-pencil"></i></button></a>
                                <button class="del btn btn-default" type="button" title="删除" value="{$row['admin_id']}"> <i class="fa fa-trash-o"></i> </button>
                            </td>
                        </tr>
                </foreach>
                        

                 

                        </tbody>
                        
                    </table>
                    <div class="pages pull-right">{$page}<div/>
                </div>
            </section>
        </div>
       
        <!--body wrapper end-->
         <script type="text/javascript">
            $(document).on('click','.del',function(){
                var id=$(this).val();
                // alert(spid);
                var res = confirm('您确定删除该管理员信息？');
                if(res){
                     $.ajax({
                        url:'__URL__/delAdmin',
                        data:{id:id},
                        type:'post',
                        async:false,
                        dataType:'Json',
                        success:
                            function($data){
                                if($data == 1){
                                    alert('删除成功');
                                    location.reload();
                                }else{
                                    alert('删除失败');
                                }
                        }   
                    })
                }
               
            })
        </script>
</block>
